h1{
  font-family: 'Limelight', cursive;
  font-size: 100px;
  margin: 0px 0px 8px 0;  
  color: #ddd;
}
h2,h3,h4{
  font-family: 'Limelight', cursive;
  font-size: 18px;
  margin: 0px 0px 8px 0;  
  color: #ddd;
}

body{
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}
.row{
  height: auto;
  padding: 40px 0 40px 0;
  clear: both;
}
a{
  color: #ff4949;  
}
a:hover{
  color: #fff;
  background-color: #ff4949;
  text-decoration: none;  
}
p{
  margin: 0px 0px 8px 0;
  padding: 0px;
}
.footerlinks{
    padding-top: 100px;        
}
.footerlinks button{
    float: right;
    margin: 2px;
}
.pricing-header {
  max-width: 700px;
}
.card-deck .card {
  min-width: 220px;
}

ul.block-lists{
  clear: both;
  display: block;
   margin: 0px; padding: 0px; /*float: left;*/
}
ul.block-lists li{
   margin: 5px 3px 0px 0px; /*! padding: 0px; */   
   padding: 3px 8px;
   height: auto;
   background-color: #ff4949;
   color: #fff;
   font-size: 11px;font-weight: bold;
   text-transform: uppercase;
   display: inline-block;   
}
#maincontainer{
  padding-top:30px;
}
#biglist li{
font-size: 50px!important;
}

.block-lists-skills{
  padding: 0px;
  margin: 0px;
}

.block-lists-skills li{
  padding: 2px;
  margin: 10px;
  float: left;
  border: 2px solid #ccc;
  list-style: none;
  overflow: hidden;
  width:180px;
  height: 200px;
  transition: 0.3s;
 
}
.block-lists-skills li:hover{
  border: 2px solid #ff4949;
}
.block-lists-skills li img{
  width: 100%;
  object-fit: contain;
}